<nav class="navbar navbar-expand-md bg-main fixed-top " [class.p-4]=" !isScrolling">
    <div class="container ">

       

      <a class="navbar-brand text-uppercase fs-2 fw-bold  text-light cr" routerLink="home">
        START FRAMEWORK
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        
        
        <ul class="navbar-nav  ms-auto gap-3 ">
          
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-bold fs-6 text-light" routerLinkActive="active-link" routerLink="about">about</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-uppercase fw-bold fs-6 text-light" routerLinkActive="active-link" routerLink="portfolio">portfolio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-uppercase fw-bold fs-6  text-light" routerLinkActive="active-link" routerLink="contact">contact</a>
          </li>

          
          
        </ul>
        
        
        
      </div>
    </div>
  </nav>